<h2 mat-dialog-title>Edit Workflow</h2>
<form>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="title" name="title" />
    </mat-form-field>
</form>
<mat-dialog-actions>
    <button
        mat-flat-button
        color="primary"
        (click)="save()"
        [mat-dialog-close]="title"
    >
        Save
    </button>
    <button mat-button (click)="this.dialogRef.close()">Cancel</button>
</mat-dialog-actions>
