<div class="page">
    <h1>Database update</h1>
    <form class="general" [formGroup]="form" (ngSubmit)="update()">
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Port</mat-label>
            <input matInput formControlName="port">
            <div *ngIf="submitted && f.port.errors" class="invalid-feedback">
                <div *ngIf="f.port.errors.required">Port is required</div>
                <div *ngIf="f.port.errors.min">Port must be greater than or equal to 0</div>
                <div *ngIf="f.port.errors.max">Port must be smaller than or equal to 65535</div>
                <div *ngIf="f.port.errors.pattern">Port must only contain numbers</div>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Retention policy</mat-label>
            <input matInput formControlName="retention_policy">
            <div *ngIf="submitted && f.retention_policy.errors" class="invalid-feedback">
                <div *ngIf="f.retention_policy.errors.required">Retention policy is required</div>
            </div>
        </mat-form-field>

        <div class="button">
            <button
                mat-flat-button
                color="primary"
                type="submit">
                Update
            </button>
            <button mat-button (click)="cancel()">Cancel</button>
        </div>

    </form>
</div>
