<div class="page">
    <div class="mat-card-header">
        <div class="mat-card-header-entry"><h1>My python workflows</h1></div>
        <div class="mat-card-header-entry">
            <div class="actions">
                <button class="header" mat-icon-button color="primary" (click)="createWorkflow()" matTooltip="Create a new workflow">
                    <mat-icon>add</mat-icon>
                </button>
                <button class="header" mat-icon-button color="primary" (click)="refresh()" matTooltip="Refresh the list of workflows">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex" (click)="expand(i)" style="cursor: pointer">
                {{ element.info.title }}
            </td>
        </ng-container>

        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef>File Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.info.fileName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                <div class="edit">
                    <button mat-icon-button
                            (click)="expand(i)"
                            matTooltip="Open editor">
                        <mat-icon>code</mat-icon>
                    </button>
                    <button mat-icon-button
                            (click)="edit(i)"
                            matTooltip="Edit workflow name">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button
                            (click)="delete(i)"
                            matTooltip="Delete workflow">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Expanded Row-->
        <ng-container matColumnDef="expandedColumn">
            <td
                mat-cell
                *matCellDef="let element; let i = dataIndex"
                [attr.colspan]="tableColumns.length"
            >
                <div
                    class="expanded-element"
                    [@detailExpand]="selected === i ? 'expanded' : 'collapsed'"
                >
                    <ng-container *ngIf="element.workflowLoaded">
                        <div class="editor-body">
                            <app-editor
                                [codeModel]="dataSource[i].model"
                            ></app-editor>
                        </div>
                        <div class="editor-buttons">
                            <app-file-selector
                                name="Upload"
                                (fileSelect)="fileSelected($event, i)"
                            ></app-file-selector>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="save(i)"
                            >
                                Save
                            </button>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="cancel(i)">
                                Cancel
                            </button>
                        </div>
                    </ng-container>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr
            mat-row
            class="row"
            [class.expanded]="i === selected"
            *matRowDef="let row; columns: tableColumns; let i = dataIndex"
        ></tr>
        <tr
            mat-row
            class="expanded-row"
            *matRowDef="let row2; columns: ['expandedColumn']"
        ></tr>
    </table>
</div>
