<!--
<mat-toolbar class="example-header">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">LaMaS</h1>
</mat-toolbar>
-->
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>


             <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:compass-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Services</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink='/dashboard/services' *ngIf="isShowing || isExpanded"><mat-icon>menu</mat-icon>Overview</a>
                        <a mat-list-item routerLink='/dashboard/discover' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:map-search-outline"></mat-icon>Discovery</a>
                        <a mat-list-item routerLink='/dashboard/about' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:web-plus"></mat-icon>Edge Gateway</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>


            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:application-edit-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Workflow Design</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink="#" *ngIf="isShowing || isExpanded"><mat-icon>menu</mat-icon>Overview</a>
                        <a mat-list-item routerLink='/dashboard/workflow_editor' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:python"></mat-icon>Python</a>
                        <a mat-list-item routerLink='/dashboard/workflow_editor_node_red' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:node-red"></mat-icon>Node-RED</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>


            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:database-import-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Databases</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink="/dashboard/databases" *ngIf="isShowing || isExpanded"><mat-icon>menu</mat-icon>Overview</a>
                        <a mat-list-item routerLink="/dashboard/databases/create" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:database-plus-outline"></mat-icon>Add database</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>


            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:database-import-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Data Protocol Design</span>
                </mat-expansion-panel-header>
                <div *ngIf="isExpanded">
                    <mat-nav-list dense>
                        <a mat-list-item routerLink="/dashboard/protocols" *ngIf="isShowing || isExpanded"><mat-icon>menu</mat-icon>Overview</a>
                        <a mat-list-item routerLink="/dashboard/protocols/create" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:wrench-outline"></mat-icon>Create protocol</a>
                    </mat-nav-list>
                </div>
            </mat-expansion-panel>


            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:database-cog-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Dataflow Design</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink="/dashboard/dataflows" *ngIf="isShowing || isExpanded"><mat-icon>menu</mat-icon>Overview</a>
                        <a mat-list-item routerLink="/dashboard/knime" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:knime"></mat-icon>Knime</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>



            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:sitemap-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Jobs</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink='/dashboard/overview' *ngIf="isShowing || isExpanded"><mat-icon>menu</mat-icon>Overview</a>
                        <a mat-list-item routerLink='/dashboard/scheduler' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:calendar-clock-outline"></mat-icon>Schedule job</a>
                        <a mat-list-item routerLink='/dashboard/create' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:wrench-clock"></mat-icon>Create job</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>



            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:account-circle-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Account</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink="#" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:account-cog-outline"></mat-icon>User settings</a>
                        <a mat-list-item routerLink="#" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:account-multiple-outline"></mat-icon>Group management</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>



            <mat-expansion-panel [class.mat-elevation-z0]="true" dense hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-icon svgIcon="assets:cog-outline"></mat-icon>
                    <span class="full-width" *ngIf="isExpanded || isShowing">Settings</span>
                </mat-expansion-panel-header>
                 <div *ngIf="isExpanded">
                     <mat-nav-list dense>
                        <a mat-list-item routerLink='/dashboard/about' *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:information-outline"></mat-icon>About</a>
                        <a mat-list-item routerLink="#" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:head-cog-outline"></mat-icon>Logs</a>
                        <a mat-list-item routerLink="#" *ngIf="isShowing || isExpanded"><mat-icon svgIcon="assets:toy-brick-outline"></mat-icon>Customization</a>
                    </mat-nav-list>
                 </div>
            </mat-expansion-panel>
            <!--
                <div class="submenu" [ngClass]="{'expanded' : showSubmenuHome}" *ngIf="isShowing || isExpanded">
                    <a mat-list-item href="...">App Logs</a>
                    <a mat-list-item href="...">About</a>
                    <mat-list-item mat-button [routerLink]="'/about'">About</mat-list-item>
                    <mat-list-item (click)="showSubSubMenuHome = !showSubSubMenuHome" class="parent">
                        <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
                        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenuHome}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                    </mat-list-item>
                    <div class="submenu" [ngClass]="{'expanded' : showSubSubMenuHome}" *ngIf="isShowing || isExpanded">
                        <mat-list-item mat-button [routerLink]="'/logs'">App Logs</mat-list-item>
                        <mat-list-item mat-button [routerLink]="'/about'">About</mat-list-item>
                    </div>
                </div>

            <mat-list-item (click)="showSubmenuUser = !showSubmenuUser" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">User Management</span>
                <mat-icon mat-list-icon>account_circle</mat-icon>
            </mat-list-item>
            <mat-list-item (click)="showSubmenuDiscover = !showSubmenuDiscover" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Discover</span>
                <mat-icon mat-list-icon>explore</mat-icon>
            </mat-list-item>
        -->
		</mat-nav-list>

	</mat-sidenav>

    <mat-sidenav-content>
        <router-outlet>
            <!--
            <div class="container mat-body-1">
                <app-service-list></app-service-list>
            </div>
            <div class="example-sidenav-content">
                Main content that resizes properly
            </div>
            -->
        </router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>



 <!--
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
      <p><mat-form-field appearance="fill">
        <mat-label>Top gap</mat-label>
        <input matInput type="number" formControlName="top">
      </mat-form-field></p>
      <p><mat-form-field appearance="fill">
        <mat-label>Bottom gap</mat-label>
        <input matInput type="number" formControlName="bottom">
      </mat-form-field></p>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content>
</mat-sidenav-container>

<div>2</div>
-->
<!--
<div>
    <span class="material-icons">
    home
    </span>
    <span class="material-icons">
    home_outlined
    </span>
    <span class="material-icons">
    dashboard
    </span>
    <span class="material-icons">
    account_circle
    </span>
    <span class="material-icons">
    manage_accounts
    </span>
    <span class="material-icons">
    login
    </span>
    <span class="material-icons">
    logout
    </span>
    <span class="material-icons">
    launch
    </span>
    <span class="material-icons">
    explore
    </span>
    <span class="material-icons">
    autorenew
    </span>
    <span class="material-icons">
    visibility
    </span>


</div>
-->
