.example-container {
  height: 80%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

mat-icon {
    transform: scale(1.3);
    height:30px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    // font-size: 30px;
    // transform: scale(2);
    // background-repeat: no-repeat;
    // display: inline-block;
    // fill: currentColor;
}

span {
    padding: 7px;
}
