<div class="flex-container">
    <div class="flex-item">
        <div class="mat-card-header"></div>
        <div class="mat-card-header-entry"><h3>Login</h3></div>
        <div class="mat-card-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label  for="username">Username</mat-label>
                    <input matInput type="text" placeholder="admin" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </mat-form-field>
                </div>
                <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" placeholder="Placeholder" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </mat-form-field>
                </div>
                <div class="form-group">
                    <button mat-flat-button color="primary" type="submit" [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <!-- <a routerLink="../open" class="btn btn-link">Register</a> -->
                </div>
            </form>
            <!--
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button mat-button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                        <a routerLink="../open" class="btn btn-link">Register</a>
                    </div>
                </form>
            -->
        </div>
    </div>
</div>

