<div class="mat-card-header">
    <div class="mat-card-header-entry"><h1>MDNS Discovery</h1></div>
    <div class="mat-card-header-entry">
        <div class="actions">
            <button
                class="header"
                mat-icon-button
                color="primary"
                (click)="refresh()"
                matTooltip="Refresh list of discovered services"
            >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
</div>


<table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
            {{ element.service.name }}
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
            {{ element.service.type }}
        </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">
            {{ element.service.parsed_ip_address }}
        </td>
    </ng-container>

    <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef>Port</th>
        <td mat-cell *matCellDef="let element">
            {{ element.service.port }}
        </td>
    </ng-container>

    <ng-container matColumnDef="connect">
        <th mat-header-cell *matHeaderCellDef>Toggle Connection</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
                <button mat-icon-button (click)="toggleConnection(i)" >
                    <mat-icon *ngIf="!element.service.connected" matTooltip="Connect">link</mat-icon>
                    <mat-icon *ngIf="element.service.connected" matTooltip="Disconnect">link_off</mat-icon>
                </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr
        mat-row
        class="row"
        [class.expanded]="i === selected"
        *matRowDef="let row; columns: tableColumns; let i = dataIndex"
    ></tr>
</table>
<!-- </div> -->
