.example-spacer {
  flex: 1 1 auto;
}

.material-icons {
    padding: 10px;
    font-size: 30px;
    // transform: scale(2);
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;

}

.headerbar-entry {
    padding: 8px;
    margin-left: 8px;
}

.fill {
    flex: 1 1 auto;
}
